In [28]:
import pandas as pd

In [29]:
import numpy as np

In [30]:
space=pd.read_csv(r'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv')

In [31]:
space.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857

In [32]:
space.count()

FlightNumber      90
Date              90
BoosterVersion    90
PayloadMass       90
Orbit             90
LaunchSite        90
Outcome           90
Flights           90
GridFins          90
Reused            90
Legs              90
LandingPad        64
Block             90
ReusedCount       90
Serial            90
Longitude         90
Latitude          90
dtype: int64

In [33]:
space['Outcome'].unique()

array(['None None', 'False Ocean', 'True Ocean', 'False ASDS',
       'None ASDS', 'True RTLS', 'True ASDS', 'False RTLS'], dtype=object)

In [34]:
space.describe()

,FlightNumber,PayloadMass,Flights,Block,ReusedCount,Longitude,Latitude
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,45.500000,6104.959412,1.788889,3.500000,1.655556,-86.366477,29.449963
std,26.124701,4694.671720,1.213172,1.595288,1.710254,14.149518,2.141306
min,1.000000,350.000000,1.000000,1.000000,0.000000,-120.610829,28.561857
25%,23.250000,2510.750000,1.000000,2.000000,0.000000,-80.603956,28.561857
50%,45.500000,4701.500000,1.000000,4.000000,1.000000,-80.577366,28.561857
75%,67.750000,8912.750000,2.000000,5.000000,3.000000,-80.577366,28.608058
max,90.000000,15600.000000,6.000000,5.000000,5.000000,-80.577366,34.632093

In [35]:
space.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     object
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      90 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     float64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
dtypes: bool(3), float64(4), int64(3), object(7)
memory usage: 10.2+ KB

In [36]:
space.isnull().sum()/len(space)*100

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

In [37]:
space['Outcome'].value_counts()

Outcome
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: count, dtype: int64

In [38]:
space['LaunchSite'].value_counts()

LaunchSite
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: count, dtype: int64

In [39]:
space['Orbit'].value_counts()

Orbit
GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: count, dtype: int64

In [40]:
space['LandingPad'].value_counts()

LandingPad
5e9e3032383ecb6bb234e7ca    35
5e9e3032383ecb267a34e7c7    13
5e9e3033383ecbb9e534e7cc    12
5e9e3032383ecb761634e7cb     2
5e9e3032383ecb554034e7c9     2
Name: count, dtype: int64

In [41]:
space['Serial'].value_counts()

Serial
B1049    6
B1051    5
B1059    4
B1056    4
B1048    4
B1046    4
B1060    3
B1058    3
B1047    3
B1031    2
B1036    2
B1021    2
B1039    2
B1035    2
B1041    2
B1029    2
B1040    2
B1045    2
B1032    2
B1042    1
B1043    1
B1038    1
B1044    1
B1037    1
B1050    1
B1054    1
B1034    1
B0003    1
B1030    1
B1013    1
B0007    1
B1003    1
B1004    1
B1005    1
B1006    1
B1007    1
B1008    1
B1011    1
B1010    1
B1012    1
B1015    1
B0005    1
B1016    1
B1018    1
B1019    1
B1017    1
B1020    1
B1022    1
B1023    1
B1025    1
B1026    1
B1028    1
B1062    1
Name: count, dtype: int64

In [42]:
space['BoosterVersion'].value_counts()

BoosterVersion
Falcon 9    90
Name: count, dtype: int64

In [43]:
bad_outcomes=set(space['Outcome'].keys()[[1,3,5,6,7]])

In [44]:
bad_outcomes

{1, 3, 5, 6, 7}

In [46]:
for i, outcome in enumerate(space['Outcome'].keys()):
    print(i, outcome)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
11 11
12 12
13 13
14 14
15 15
16 16
17 17
18 18
19 19
20 20
21 21
22 22
23 23
24 24
25 25
26 26
27 27
28 28
29 29
30 30
31 31
32 32
33 33
34 34
35 35
36 36
37 37
38 38
39 39
40 40
41 41
42 42
43 43
44 44
45 45
46 46
47 47
48 48
49 49
50 50
51 51
52 52
53 53
54 54
55 55
56 56
57 57
58 58
59 59
60 60
61 61
62 62
63 63
64 64
65 65
66 66
67 67
68 68
69 69
70 70
71 71
72 72
73 73
74 74
75 75
76 76
77 77
78 78
79 79
80 80
81 81
82 82
83 83
84 84
85 85
86 86
87 87
88 88
89 89

In [47]:
space2=pd.get_dummies(space, columns=['Outcome'])

In [48]:
dummy_columns = space.filter(like='Outcome_').columns

In [49]:
space2[dummy_columns] = space2[dummy_columns].astype(int)

In [50]:
space2

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Flights,GridFins,Reused,Legs,...,Longitude,Latitude,Outcome_False ASDS,Outcome_False Ocean,Outcome_False RTLS,Outcome_None ASDS,Outcome_None None,Outcome_True ASDS,Outcome_True Ocean,Outcome_True RTLS
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,False,False,False,False,True,False,False,False
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,False,False,False,False,True,False,False,False
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,False,False,False,False,True,False,False,False
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,1,False,False,False,...,-120.610829,34.632093,False,True,False,False,False,False,False,False
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,2,True,True,True,...,-80.603956,28.608058,False,False,False,False,False,True,False,False
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,3,True,True,True,...,-80.603956,28.608058,False,False,False,False,False,True,False,False
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,6,True,True,True,...,-80.603956,28.608058,False,False,False,False,False,True,False,False
88,89,2020-10-24,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,3,True,True,True,...,-80.577366,28.561857,False,False,False,False,False,True,False,False
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,1,True,False,True,...,-80.577366,28.561857,False,False,False,False,False,True,False,False

In [51]:
available_indices = [1, 3, 5]  # Adjusted to match the length of 'Outcome' column

In [52]:
bad_outcomes = set(space['Outcome'].iloc[available_indices])

In [53]:
print("Bad outcomes:", bad_outcomes)

Bad outcomes: {'None None', 'False Ocean'}

In [54]:
for i, outcome in enumerate(space['Outcome']):
    print(i, outcome)

0 None None
1 None None
2 None None
3 False Ocean
4 None None
5 None None
6 True Ocean
7 True Ocean
8 None None
9 None None
10 False Ocean
11 False ASDS
12 True Ocean
13 False ASDS
14 None None
15 None ASDS
16 True RTLS
17 False ASDS
18 False ASDS
19 True ASDS
20 True ASDS
21 True ASDS
22 True RTLS
23 True ASDS
24 None ASDS
25 True ASDS
26 True RTLS
27 None None
28 True ASDS
29 True RTLS
30 None None
31 True RTLS
32 True ASDS
33 True ASDS
34 None None
35 True RTLS
36 True ASDS
37 True RTLS
38 True ASDS
39 True ASDS
40 True ASDS
41 True RTLS
42 True Ocean
43 True RTLS
44 True Ocean
45 None None
46 None None
47 None None
48 True ASDS
49 True ASDS
50 None None
51 None None
52 True ASDS
53 True ASDS
54 True ASDS
55 True ASDS
56 True RTLS
57 True ASDS
58 True ASDS
59 False RTLS
60 None None
61 True ASDS
62 True ASDS
63 True ASDS
64 True ASDS
65 True RTLS
66 True RTLS
67 None None
68 True ASDS
69 True ASDS
70 True ASDS
71 True ASDS
72 None None
73 True ASDS
74 False ASDS
75 True RTLS
76 False ASDS
77 True ASDS
78 True ASDS
79 True ASDS
80 True ASDS
81 True ASDS
82 True ASDS
83 True ASDS
84 True RTLS
85 True ASDS
86 True ASDS
87 True ASDS
88 True ASDS
89 True ASDS

In [55]:
space2 = pd.get_dummies(space, columns=['Outcome'])

In [57]:
dummy_columns = space2.filter(like='Outcome_').columns

In [58]:
space2[dummy_columns] = space2[dummy_columns].astype(int)

In [60]:
outcome_counts = pd.get_dummies(space['Outcome']).count()

In [61]:
print("Outcome counts:\n", outcome_counts)

Outcome counts:
 False ASDS     90
False Ocean    90
False RTLS     90
None ASDS      90
None None      90
True ASDS      90
True Ocean     90
True RTLS      90
dtype: int64

In [63]:
space2

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Flights,GridFins,Reused,Legs,...,Longitude,Latitude,Outcome_False ASDS,Outcome_False Ocean,Outcome_False RTLS,Outcome_None ASDS,Outcome_None None,Outcome_True ASDS,Outcome_True Ocean,Outcome_True RTLS
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,0,0,0,0,1,0,0,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,0,0,0,0,1,0,0,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,0,0,0,0,1,0,0,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,1,False,False,False,...,-120.610829,34.632093,0,1,0,0,0,0,0,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,2,True,True,True,...,-80.603956,28.608058,0,0,0,0,0,1,0,0
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,3,True,True,True,...,-80.603956,28.608058,0,0,0,0,0,1,0,0
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,6,True,True,True,...,-80.603956,28.608058,0,0,0,0,0,1,0,0
88,89,2020-10-24,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,3,True,True,True,...,-80.577366,28.561857,0,0,0,0,0,1,0,0
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,1,True,False,True,...,-80.577366,28.561857,0,0,0,0,0,1,0,0

In [66]:
landing_class = [0 if outcome in bad_outcomes else 1 for outcome in space['Outcome']]

In [67]:
space['landing_class'] = landing_class

In [68]:
space

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,landing_class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,1
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,1
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,1
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,1
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,2,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,5,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,2,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,0,B1062,-80.577366,28.561857,1

In [69]:
space['landing_class'].unique()

array([1], dtype=int64)

In [71]:
space['landing_class'].value_counts()

landing_class
1    90
Name: count, dtype: int64

In [73]:
space2

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Flights,GridFins,Reused,Legs,...,Longitude,Latitude,Outcome_False ASDS,Outcome_False Ocean,Outcome_False RTLS,Outcome_None ASDS,Outcome_None None,Outcome_True ASDS,Outcome_True Ocean,Outcome_True RTLS
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,0,0,0,0,1,0,0,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,0,0,0,0,1,0,0,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,0,0,0,0,1,0,0,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,1,False,False,False,...,-120.610829,34.632093,0,1,0,0,0,0,0,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,1,False,False,False,...,-80.577366,28.561857,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,2,True,True,True,...,-80.603956,28.608058,0,0,0,0,0,1,0,0
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,3,True,True,True,...,-80.603956,28.608058,0,0,0,0,0,1,0,0
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,6,True,True,True,...,-80.603956,28.608058,0,0,0,0,0,1,0,0
88,89,2020-10-24,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,3,True,True,True,...,-80.577366,28.561857,0,0,0,0,0,1,0,0
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,1,True,False,True,...,-80.577366,28.561857,0,0,0,0,0,1,0,0